* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: blue;
  text-decoration: none;
}

.page-base {
  padding: 1em;
}


.main-button {
  padding: 1em;
  margin: 1em;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 1em;
  background-color: rgba(0, 255, 47, 0.496);
}